#root {
  background: radial-gradient(circle at top, transparent, transparent 50px, rgba(16, 16, 16, 0.9) 40%) !important;
}

section.ant-layout {
  width: 100%;
  margin: auto;
  position: relative;
}

header.ant-layout-header.App-Bar {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  height: 80px;
}

footer.ant-layout-footer {
  padding: 10px 0;
  width: 100%;
}

.ant-layout-sider {
  background-color: unset;
}

a:link {
  color: #b480eb;
}
a:visited {
  color: #b480eb;
}
a:hover {
  color: #b480eb;
}
a:active {
  color: #b480eb;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-left: -16px;
}

.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

/* Optional, different gutter size on mobile */
@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}

.ant-card-body {
  padding: 0;
}

.landing-screen {
  margin: 0;
  margin-top: 30;
  align-items: 'center';
  font-size: 20px;
}

.hero-section {
  margin: 4em 0 4em;
}

.with-radial-bg {
  position: relative;
}

.with-radial-bg::before {
  display: block;
  content: '';
  background: radial-gradient(circle at 30% 70%, #5500D8 0%, rgba(255, 0, 172, 0) 30%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.section-title {
  font-size: 4em;
  display: flex;
  align-items: center;
  margin: 0;
}

.gradient-blue-purple {
  background: -webkit-linear-gradient(45deg, #0398BD, #9931E1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: IRONGATE;
  word-spacing: -45px;
  margin-left: 20px;
}

.section-subtitle {
  font-family: IRONGATE;
  font-size: 2em;
  line-height: 1em;
  word-spacing: -10px;
}

.middle-section-image {
  height: 400px;
  margin: 40px auto;
  z-index: 1;
}

.middle-section-image-02 {
  margin: 40px auto;
  position: absolute;
  right: 0;
  z-index: 0;
  height: 240px;
  top: 70px;
  mix-blend-mode: lighten;
}

.footer {
  background: transparent;
}

.footer-links {
  display: flex;
  font-size: 1.5em;

  & > span {
    white-space: nowrap;
    margin-right: 15px;
    line-height: 1em;
    display: flex;
    align-items: center;
  }

  .footer-title {
    font-family: IRONGATE;
    word-spacing: -20px;
    font-size: 2em;
  }

  .footer-copy {
    font-family: IRONGATE;
    word-spacing: -20px;
    font-size: 2em;
    opacity: 0.5;
  }
}
